# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# MNIST raw data 
data/mnist_data/MNIST/

# Outputs
outputs/*

# Do not ignore experiment results
#!outputs/logs/output_experiment.log
!outputs/logs/
outputs/logs/*
!outputs/logs/output_experiment.log

!outputs/saved_models/
outputs/saved_models/*
!outputs/saved_models/experimentresult/